.windmill
  .hills
  .wheel
    .windwheel
    .windwheel.windwheel2
    .windwheel.windwheel3
    .windwheel.windwheel4
  .roof
  .mill
  .house
  ul.tree
    li
    li
    li
  ul.bush
    li
    li
    li
  ul.bush.bush2
    li
    li
  .cloud
  .cloud.cloud2
  